cpumonit.json
[{"id":"18a1a05b.bc0c9","type":"cpu","z":"ac271045.d4039","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":true,"x":350,"y":320,"wires":[["e4956e37.4d2cc","85e11175.6710e","ea477742.999d78"]]},{"id":"93b5e5cf.c51f98","type":"inject","z":"ac271045.d4039","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["18a1a05b.bc0c9"]]},{"id":"e4956e37.4d2cc","type":"debug","z":"ac271045.d4039","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":320,"wires":[]},{"id":"e089f3c7.fcb24","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":2,"width":0,"height":0,"gtype":"gage","title":"speed","label":"MHz","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":400,"wires":[]},{"id":"85e11175.6710e","type":"function","z":"ac271045.d4039","name":"cpu speed","func":"msg.payload = msg.payload[0].speed;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["e089f3c7.fcb24"]]},{"id":"ea477742.999d78","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":460,"wires":[]},{"id":"bc4523b7.fbe67","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":3,"width":0,"height":0,"passthru":false,"label":"Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":400,"wires":[["18a1a05b.bc0c9"]]},{"id":"1f084ba7.75ba64","type":"ui_group","z":"","name":"cpu monit","tab":"7d7a85c0.be92ec","order":1,"disp":false,"width":"6","collapse":false},{"id":"7d7a85c0.be92ec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]