cpumonit.json
[{"id":"18a1a05b.bc0c9","type":"cpu","z":"ac271045.d4039","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":false,"x":350,"y":320,"wires":[["e4956e37.4d2cc","85e11175.6710e","51598f34.a35ca"]]},{"id":"93b5e5cf.c51f98","type":"inject","z":"ac271045.d4039","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["18a1a05b.bc0c9","f9758b4d.2b14d8"]]},{"id":"e4956e37.4d2cc","type":"debug","z":"ac271045.d4039","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"e089f3c7.fcb24","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":1,"width":0,"height":0,"gtype":"gage","title":"speed","label":"MHz","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":320,"wires":[]},{"id":"85e11175.6710e","type":"function","z":"ac271045.d4039","name":"cpu speed","func":"msg.payload = msg.payload[0].speed;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["e089f3c7.fcb24"]]},{"id":"ea477742.999d78","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":440,"wires":[]},{"id":"bc4523b7.fbe67","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":3,"width":0,"height":0,"passthru":false,"label":"Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":400,"wires":[["18a1a05b.bc0c9","f9758b4d.2b14d8"]]},{"id":"e4060f9.af188f","type":"play audio","z":"ac271045.d4039","name":"CPU Temp","voice":"50","x":690,"y":500,"wires":[]},{"id":"191590f3.58e28f","type":"play audio","z":"ac271045.d4039","name":"CPU Speed","voice":"50","x":690,"y":360,"wires":[]},{"id":"51598f34.a35ca","type":"function","z":"ac271045.d4039","name":"Speed Logic","func":"msg.payload = msg.payload[0].speed;\nif(msg.payload < 1000)\n{\nmsg.payload =\"CPU speed is at minimum\";\n}\nelse\nmsg.payload =\"CPU speed is at maximum\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["191590f3.58e28f"]]},{"id":"2be6cdf7.733982","type":"function","z":"ac271045.d4039","name":"Temp Logic","func":"if (msg.payload < 45)\n{\n    msg.payload = \"CPU Temperature is normal\";\n}\nelse\n    msg.payload = \"CPU Temperature is high\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["e4060f9.af188f"]]},{"id":"f9758b4d.2b14d8","type":"cpu","z":"ac271045.d4039","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":350,"y":440,"wires":[["2be6cdf7.733982","ea477742.999d78","e4956e37.4d2cc"]]},{"id":"1f084ba7.75ba64","type":"ui_group","z":"","name":"cpu monit","tab":"7d7a85c0.be92ec","order":1,"disp":false,"width":"6","collapse":false},{"id":"7d7a85c0.be92ec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]