owntracks-table-api.json
[
    {
        "id": "5c19add1.ab3d64",
        "type": "tab",
        "label": "Owntracks-Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb534c28.20b0b",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:show database",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "show databases",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "7ab1968b.197378",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:use tracker",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "use tracker",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "26d3ab4f.3b8e54",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:show tables",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "show tables",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "59b73a0c.509ca4",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:create table owntracks_data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE owntracks_data ( tid VARCHAR(150) NOT NULL, bat DECIMAL(16,0) DEFAULT '0.00' NOT NULL, vel DECIMAL(16,0) DEFAULT '0.00' NOT NULL, alt DECIMAL(16,0) DEFAULT '0.00' NOT NULL, lat DECIMAL(16,6) DEFAULT '0.00' NOT NULL, lon DECIMAL(16,6) DEFAULT '0.00' NOT NULL, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP )",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "eb03a928.e30be8",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:describe table owntracks_data",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "describe owntracks_data",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "6684c1a8.f9931",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "MySQL:drop table owntracks_data",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "drop table owntracks_data",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "f8032ceb.10023",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "show data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from owntracks_data",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "e5d5787.1d5bc88",
        "type": "debug",
        "z": "5c19add1.ab3d64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "354bc158.637b0e",
        "type": "mysql",
        "z": "5c19add1.ab3d64",
        "mydb": "9d2f43fbdead28f0",
        "name": "owntracks_data",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "e5d5787.1d5bc88"
            ]
        ]
    },
    {
        "id": "33935d7a.a64e22",
        "type": "function",
        "z": "5c19add1.ab3d64",
        "name": "manual insertion",
        "func": "msg.topic = \"INSERT INTO owntracks_data (tid,bat,vel,alt,lat,lon) VALUES('IOS','65','2','5','3.171299','101.709700');\"      \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 420,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "dc400a5e.409928",
        "type": "inject",
        "z": "5c19add1.ab3d64",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "33935d7a.a64e22"
            ]
        ]
    },
    {
        "id": "420ddd15500c4e39",
        "type": "function",
        "z": "5c19add1.ab3d64",
        "name": "Auto-Insertion",
        "func": "msg.topic = \"INSERT INTO owntracks_data (tid,bat,vel,alt,lat,lon) \" + \"VALUES ('\" + msg.payload.tid + \"', '\" + msg.payload.bat + \"', '\" + msg.payload.vel + \"', '\" + msg.payload.alt + \"', '\" + msg.payload.lon + \"', '\" + msg.payload.lat + \"');\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "354bc158.637b0e"
            ]
        ]
    },
    {
        "id": "23b329bfd3e25538",
        "type": "link in",
        "z": "5c19add1.ab3d64",
        "name": "Owntracks_In",
        "links": [
            "32cafad50f085b77"
        ],
        "x": 145,
        "y": 500,
        "wires": [
            [
                "420ddd15500c4e39",
                "054294d68396a8c3"
            ]
        ]
    },
    {
        "id": "054294d68396a8c3",
        "type": "debug",
        "z": "5c19add1.ab3d64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "9d2f43fbdead28f0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "orange-pi",
        "tz": "Asia/Kuala_Lumpur",
        "charset": "UTF8"
    }
]