owntracks-table-api.json
[{"id":"5c19add1.ab3d64","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb534c28.20b0b","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:show database","topic":"show databases","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":120,"wires":[["354bc158.637b0e"]]},{"id":"7ab1968b.197378","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:use tracker","topic":"use tracker","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["354bc158.637b0e"]]},{"id":"26d3ab4f.3b8e54","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:show tables","topic":"show tables","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":200,"wires":[["354bc158.637b0e"]]},{"id":"59b73a0c.509ca4","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:create table owntracks_data","topic":"CREATE TABLE owntracks_data ( tid VARCHAR(150) NOT NULL, bat DECIMAL(16,0) DEFAULT '0.00' NOT NULL, vel DECIMAL(16,0) DEFAULT '0.00' NOT NULL, alt DECIMAL(16,0) DEFAULT '0.00' NOT NULL, lat DECIMAL(16,6) DEFAULT '0.00' NOT NULL, lon DECIMAL(16,6) DEFAULT '0.00' NOT NULL, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP )","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["354bc158.637b0e"]]},{"id":"eb03a928.e30be8","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:describe table owntracks_data","topic":"describe owntracks_data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["354bc158.637b0e"]]},{"id":"6684c1a8.f9931","type":"inject","z":"5c19add1.ab3d64","name":"MySQL:drop table owntracks_data","topic":"drop table owntracks_data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":320,"wires":[["354bc158.637b0e"]]},{"id":"f8032ceb.10023","type":"inject","z":"5c19add1.ab3d64","name":"show data","topic":"select * from owntracks_data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":360,"wires":[["354bc158.637b0e"]]},{"id":"e5d5787.1d5bc88","type":"debug","z":"5c19add1.ab3d64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":220,"wires":[]},{"id":"354bc158.637b0e","type":"mysql","z":"5c19add1.ab3d64","mydb":"3eb2880c.095418","name":"owntracks_data","x":540,"y":220,"wires":[["e5d5787.1d5bc88"]]},{"id":"3eb2880c.095418","type":"MySQLdatabase","z":"5c19add1.ab3d64","name":"","host":"192.168.1.4","port":"3306","db":"tracker","tz":"UTC + 8.00"}]