owntracks.json
[
    {
        "id": "3e0b45b1.3d070a",
        "type": "tab",
        "label": "Owntracks",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10f9403a.f9e74",
        "type": "mqtt in",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "topic": "owntracks/user/mra",
        "qos": "2",
        "datatype": "auto",
        "broker": "ef75e605.488df8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "9983df5.a02bb2"
            ]
        ]
    },
    {
        "id": "b464eb6a.3492d8",
        "type": "comment",
        "z": "3e0b45b1.3d070a",
        "name": "How to embed Map in Dashboard",
        "info": "This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "f97a0836.76d528",
        "type": "function",
        "z": "3e0b45b1.3d070a",
        "name": "GPS",
        "func": "\n\nreturn {\n    payload: {\n        name: msg.payload.tid,\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        icon: 'user-circle-o'\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "5dfd426c.0d3c6c",
                "0106a5cdbd641e46"
            ]
        ]
    },
    {
        "id": "cdbf98fb.5797e8",
        "type": "function",
        "z": "3e0b45b1.3d070a",
        "name": "Altitude",
        "func": "return {\n    payload: {\n    Altitude:msg.payload.alt\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 660,
        "wires": [
            [
                "ae08b605.452fa8"
            ]
        ]
    },
    {
        "id": "ae08b605.452fa8",
        "type": "split",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "a3bb6ac0.417218"
            ]
        ]
    },
    {
        "id": "8464fdd0.23608",
        "type": "function",
        "z": "3e0b45b1.3d070a",
        "name": "RTC",
        "func": "return {\n    payload: {\n    Time:msg.payload.tst\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "5b059dc9.251824"
            ]
        ]
    },
    {
        "id": "c8bbf424.895ee8",
        "type": "comment",
        "z": "3e0b45b1.3d070a",
        "name": "Using JSON to decide incoming msg",
        "info": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "9983df5.a02bb2",
        "type": "json",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "8464fdd0.23608",
                "cdbf98fb.5797e8",
                "f97a0836.76d528",
                "4b3c01761da11fe7",
                "1eb22263.21a71e",
                "6e8c7fd2.e4db2",
                "d6a3847465237c76"
            ]
        ]
    },
    {
        "id": "a3bb6ac0.417218",
        "type": "ui_chart",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "group": "7be37355.bf8d4c",
        "order": 7,
        "width": 10,
        "height": 4,
        "label": "Altitude (m)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6e8c7fd2.e4db2",
        "type": "ui_gauge",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "group": "7be37355.bf8d4c",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery",
        "label": "%",
        "format": "{{msg.payload.batt}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b53f32",
            "#e5e620",
            "#32ca0f"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "1eb22263.21a71e",
        "type": "ui_gauge",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "group": "7be37355.bf8d4c",
        "order": 6,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Velocity",
        "label": "KMH",
        "format": "{{msg.payload.vel | number:1}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "df9dc114.a2e36",
        "type": "ui_text",
        "z": "3e0b45b1.3d070a",
        "group": "7be37355.bf8d4c",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "5dfd426c.0d3c6c",
        "type": "worldmap-tracks",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "depth": 20,
        "layer": "combined",
        "x": 770,
        "y": 740,
        "wires": [
            [
                "0106a5cdbd641e46"
            ]
        ]
    },
    {
        "id": "5b059dc9.251824",
        "type": "moment",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "topic": "",
        "input": "payload.tst",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "h:mm:ss a', MMMM Do YYYY",
        "locale": "C",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "df9dc114.a2e36"
            ]
        ]
    },
    {
        "id": "4b3c01761da11fe7",
        "type": "debug",
        "z": "3e0b45b1.3d070a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "0106a5cdbd641e46",
        "type": "ui_worldmap",
        "z": "3e0b45b1.3d070a",
        "group": "7be37355.bf8d4c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "10",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "eeab38aaafac8f84",
        "type": "ui_template",
        "z": "3e0b45b1.3d070a",
        "group": "7be37355.bf8d4c",
        "name": "SEAIC",
        "order": 2,
        "width": 7,
        "height": 2,
        "format": "<div height=\"70\" align=\"center\" style=\"height: 70px;\">\n<img src='https://raw.githubusercontent.com/hanifr/logos/master/SEAICrev%205%20Kusanagi%20rev%202%20no%20line.png' width=\"300\" alt=\"Avatar\" class=\"w3-wide\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "57898ee6edd98e96",
        "type": "ui_template",
        "z": "3e0b45b1.3d070a",
        "group": "7be37355.bf8d4c",
        "name": "NEXPLEX",
        "order": 1,
        "width": 3,
        "height": 2,
        "format": "<div height=\"150\" align=\"center\" style=\"height: 150px;\">\n<img src='https://raw.githubusercontent.com/hanifr/logos/master/nex-plex%20logo.png' width=\"90\" alt=\"Avatar\" class=\"w3-wide\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "088eb3b451136cb0",
        "type": "ui_text",
        "z": "3e0b45b1.3d070a",
        "group": "7be37355.bf8d4c",
        "order": 4,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Connectivity Status",
        "format": "<h2>{{msg.payload}}</h2>",
        "layout": "row-center",
        "className": "",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "d6a3847465237c76",
        "type": "function",
        "z": "3e0b45b1.3d070a",
        "name": "Connection",
        "func": "msg.payload = msg.payload.conn;\nif (msg.payload == \"w\"){\n    msg.payload = \"Wifi Connection\"\n}\nelse {\n   msg.payload = \"4G Internet\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 600,
        "wires": [
            [
                "088eb3b451136cb0"
            ]
        ]
    },
    {
        "id": "ef75e605.488df8",
        "type": "mqtt-broker",
        "name": "airmode.live",
        "broker": "airmode.live",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "udang_stat",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "msg",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7be37355.bf8d4c",
        "type": "ui_group",
        "name": "sensors",
        "tab": "51436c2e.2c0cf4",
        "order": 1,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51436c2e.2c0cf4",
        "type": "ui_tab",
        "name": "Owntracks",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]