rpi-control.json
[{"id":"ac271045.d4039","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5f1dcc9.e3d21","type":"inject","z":"ac271045.d4039","name":"","topic":"","payload":"Apa Khabar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":60,"wires":[["e7bae5d0.449578"]]},{"id":"e7bae5d0.449578","type":"function","z":"ac271045.d4039","name":"sihat","func":"msg.payload = \"System is ready, Sensor is online\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["7a9faf77.2b93f","abce3161.3cfbf"]]},{"id":"18a1a05b.bc0c9","type":"cpu","z":"ac271045.d4039","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":false,"x":350,"y":320,"wires":[["e4956e37.4d2cc","85e11175.6710e","51598f34.a35ca"]]},{"id":"93b5e5cf.c51f98","type":"inject","z":"ac271045.d4039","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["18a1a05b.bc0c9","f9758b4d.2b14d8"]]},{"id":"e4956e37.4d2cc","type":"debug","z":"ac271045.d4039","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"e089f3c7.fcb24","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":3,"width":6,"height":3,"gtype":"gage","title":"speed","label":"MHz","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":320,"wires":[]},{"id":"85e11175.6710e","type":"function","z":"ac271045.d4039","name":"cpu speed","func":"msg.payload = msg.payload[0].speed;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["e089f3c7.fcb24","9151916a.5952e"]]},{"id":"ea477742.999d78","type":"ui_gauge","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":4,"width":6,"height":3,"gtype":"gage","title":"CPU Temp","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":440,"wires":[]},{"id":"bc4523b7.fbe67","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":5,"width":6,"height":1,"passthru":false,"label":"Health Stat.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":400,"wires":[["18a1a05b.bc0c9","f9758b4d.2b14d8"]]},{"id":"51598f34.a35ca","type":"function","z":"ac271045.d4039","name":"Speed Logic","func":"msg.payload = msg.payload[0].speed;\nif(msg.payload < 1000)\n{\nmsg.payload =\"CPU speed is at minimum\";\n}\nelse\nmsg.payload =\"CPU speed is at maximum\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["6a0d042c.a88ebc"]]},{"id":"2be6cdf7.733982","type":"function","z":"ac271045.d4039","name":"Temp Logic","func":"if (msg.payload < 45)\n{\n    msg.payload = \"CPU Temperature is normal\";\n}\nelse\n    msg.payload = \"CPU Temperature is high\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["3589eab3.0876f6"]]},{"id":"f9758b4d.2b14d8","type":"cpu","z":"ac271045.d4039","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":350,"y":440,"wires":[["2be6cdf7.733982","ea477742.999d78","e4956e37.4d2cc","692f6a64.5dd174"]]},{"id":"43e3d47c.43018c","type":"inject","z":"ac271045.d4039","name":"shutdown!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":400,"y":160,"wires":[["64abd9bf.4563d8"]]},{"id":"64abd9bf.4563d8","type":"exec","z":"ac271045.d4039","command":"sudo poweroff #","addpay":false,"append":"","useSpawn":"","timer":"","name":"turn off Pi","x":580,"y":160,"wires":[[],[],[]]},{"id":"551aa90a.6f6cf8","type":"inject","z":"ac271045.d4039","name":"reboot!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":410,"y":220,"wires":[["fd8a0e8c.ec8ea"]]},{"id":"fd8a0e8c.ec8ea","type":"exec","z":"ac271045.d4039","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"","timer":"","name":"reboot Pi","x":580,"y":220,"wires":[[],[],[]]},{"id":"8b754480.03fc98","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":7,"width":6,"height":1,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":120,"wires":[["64abd9bf.4563d8"]]},{"id":"12c47a98.362555","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":6,"width":6,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":260,"wires":[["fd8a0e8c.ec8ea"]]},{"id":"9151916a.5952e","type":"ui_chart","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":8,"width":18,"height":5,"label":"CPU Speed Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":280,"wires":[[]]},{"id":"692f6a64.5dd174","type":"ui_chart","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":9,"width":18,"height":6,"label":"CPU Temp Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":480,"wires":[[]]},{"id":"363a3da2.029eb2","type":"ui_button","z":"ac271045.d4039","name":"","group":"1f084ba7.75ba64","order":1,"width":8,"height":1,"passthru":false,"label":"What's up?","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":120,"wires":[["e7bae5d0.449578"]]},{"id":"7a9faf77.2b93f","type":"play audio","z":"ac271045.d4039","name":"","voice":"56","x":590,"y":60,"wires":[]},{"id":"6a0d042c.a88ebc","type":"play audio","z":"ac271045.d4039","name":"","voice":"50","x":690,"y":360,"wires":[]},{"id":"3589eab3.0876f6","type":"play audio","z":"ac271045.d4039","name":"","voice":"50","x":690,"y":520,"wires":[]},{"id":"abce3161.3cfbf","type":"ui_text","z":"ac271045.d4039","group":"1f084ba7.75ba64","order":2,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":120,"wires":[]},{"id":"1f084ba7.75ba64","type":"ui_group","z":"","name":"cpu monit","tab":"7d7a85c0.be92ec","order":1,"disp":false,"width":18,"collapse":false},{"id":"7d7a85c0.be92ec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]